@import "tailwindcss";

@theme {
  --color-bronzeDore : #A17C4A;
  --color-bronzeVieilli : #8D6A3B;
  --color-bronzePatine : #6F5430;
}

.btn_cta {
  background: url('/bordure_cta.png');
  background-size: 100% 100%, auto;
  background-repeat: no-repeat;
  background-clip: padding-box, padding-box;

}